/*
!/.gitignore
!/.github
!/Makefile
!/build_list.py
!/build_readme.py
!/docs
!/make-setup.py
!/repos.yml
!/requirements.txt
!/toc
!/repo-apply-tmpl.sh
!/repo-cp-tmpl-python-package.sh
!/repo-merge-pr.sh
!/repo-pick-pr.sh
!/run-script-in-repos.sh
